extends layout

block content
	h1 Edit Article
	form(method='POST', action='/article/edit/' + article._id)
		#form-group
			label(for='title') Title:
			input.form-control(name="title", type="text", id="title", value=article.title)
		#form-group
			label(for='body') Body:
			textarea.form-control(name="body", type="text", id="body") #{article.body}
		br
		input.btn.btn-primary(type="submit" value="Save")
